<div class="pag-dashboard">

  <header class="header-dashboard">

    <div class="logo-dashboard title">
      <img routerLink="/login" src="../../../assets/Logo_Logomark_1.png" alt="logo">
      <h1>Acompanhamento de cursos</h1>
    </div>
    <div class="user-dashboard title rigth-header">
      <h1>Weslley Martins</h1>
      <button mat-raised-button (click)="logout()">Logout</button>
    </div>

  </header>

  <main class="main-dashboard">

    <nav class="nav-dashboard">
      <ul>
        <li><button mat-button class="button-nav-dashboard">Básico</button></li>
        <li><button mat-button class="button-nav-dashboard">Javascript</button></li>
        <li><button mat-button class="button-nav-dashboard">Typescript</button></li>
        <li><button mat-button class="button-nav-dashboard">Angular</button></li>
      </ul>
    </nav>

    <mat-divider></mat-divider>

    <section class="subtitle-dashboard">
      <h2>Angular 7/8 - Material Design + Node.js + MongoDB + Firebase</h2>
      <p><a href="#">Ver curso</a></p>
    </section>

    <section class="section-cursos-dashboard">

      <mat-accordion>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>Introdução</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container-textarea">
            <mat-form-field class="description-section-course" appearance="fill">
              <mat-label>Anotações</mat-label>
              <textarea matInput placeholder="Descreva aqui seus aprendizados, dificuldades, pontos importantes e até mesmo conceitos aprendidos"></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary">Salva</button>
          </div>
        </mat-expansion-panel>

      </mat-accordion>

    </section>


  </main>

</div>


