<div class="background-login">
  <div class="screen-login">
    <div class="logo-guimarios">
      <img routerLink="/login" src="../../../assets/Logo_Logomark_1.png" alt="logo guimarios">
      <h1>Guimarios</h1>
    </div>

    <form [formGroup]="loginForm" class="form-login-container" >

      <mat-form-field appearance="fill">
        <mat-label>Endereço de E-mail</mat-label>
        <input formControlName="email" matInput required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input formControlName="senha" matInput [type]="hide ? 'password' : 'text'" required="">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <section class="checkbox-login">
        <mat-checkbox (change)="teste()" color="primary">Mantenha-me conectado</mat-checkbox>
      </section>

    </form>

    <div class="footer-login">
      <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="onSubmit()" >Entrar</button>
      <a href="#">Esquece a senha ?</a>
      <p>Não tem uma conta? Cadastre-se <a (click)="register()">aqui</a></p>
    </div>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>


  </div>

</div>
